POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_local_password_here
POSTGRES_DB=encore_db

DATABASE_URL=postgresql+psycopg2://postgres:your_local_password_here@localhost:5433/encore_db

JWT_SECRET_KEY=your_jwt_secret_key_here